{% extends "base.html" %}

{% block content %}

<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <h2 style="text-align:center;">Login</h2>
   <div class="form-group">
        {{form.username.label}}
       {{form.username(class='form-control')}}
   </div>
   <div class="form-group">
       {{form.password.label}}
       {{form.password(class='form-control')}}
   </div>
    <hr/>
    <button style='align-items:center;' type="submit" class=" form-control btn btn-outline-primary rounded-pill">Login</button>
</form>

{% endblock %}